.colorCard {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}

.colorName {
  height: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
