main {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  height: 200px;
  width: 100%;
  background-color: ghostwhite;
  color: red;
  text-shadow: 0 0 1px black;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  position: fixed;
  gap: 5px;
}

.interactions {
  display: flex;
  gap: 20px;
}

.refreshColors {
  padding: 5px 8px;
  border-radius: 5px;
  background: yellow;
}

.refreshColors:hover {
  background-color: cyan;
}

.refreshColors:active {
  background-color: red;
  color: white;
}

label {
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
